body{
    background-color: rgb(255, 209, 223);
    font-family: Arial, sans-serif;
}
a{
    color: rgb(185, 97, 128);
    text-decoration: none;
}
a:hover{
    color:deeppink;
    text-decoration: underline;
}
.container {
    max-width: 60%;
    margin: 100px auto;
}
h1 {
    color: rgb(185, 97, 128);
    text-align: center;
    font-size: 25px;
    line-height: 0.5;
}
header{
    text-align: center;
    font-weight: 100;
    font-size: small;
    color: rgb(100, 100, 100);
}
.typewriter {
    color: rgb(240, 179, 240);
    background-color: ghostwhite;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(240, 179, 240);
    background-color: rgb(223, 195, 214);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}
.field {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(185, 97, 128);
    border-radius: 5px;
    line-height: 10px;
}
.enterButton {
    background-color: rgb(213, 144, 168);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}
.enterButton:hover {
    background-color: rgb(248, 131, 182);
}
.hint {
    font-size: 14px;
    color: rgb(100, 100, 100);
    margin-top: 10px;
    text-align: center;
}
.poem-container {
    font-family: "Lovers Quarrel", cursive;
    font-size: 22px;
    font-weight: 400;
    color: rgb(209, 160, 160);
    margin-top: 20px;
    padding: 20px;
    line-height: 1.5;
    background-color: ghostwhite;
    border-radius: 10px;
    border-left: 3px solid rgb(185, 97, 128);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: shimmer 2.5s infinite;
}
@keyframes shimmer {
  100% {
    mask-position: left
  }
}
footer {
    text-align: center;
    font-size: small;
    color: rgb(100, 100, 100);
    margin-top: 20px;
}